@model Project.Model.EF.NHAN_VIEN

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="bg-primary">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header">
                                    <h3 class="text-center font-weight-light my-4">Edit</h3>
                                </div>
                                <div class="card-body">
                                    @using (Html.BeginForm("Edit","Staff",FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()


                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        @Html.HiddenFor(model => model.MANV)

                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.HO_TEN, null, new { @class = "small mb-1" })
                                                    @Html.TextBoxFor(model => model.HO_TEN, null, new { @class = "form-control py-4", @type = "text", @placeholder = "Họ tên" })
                                                    @Html.ValidationMessageFor(model => model.HO_TEN, "", new { @class = "badge badge-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.GT, null, new { @class = "small mb-1" })
                                                    @Html.TextBoxFor(model => model.GT, null, new { @class = "form-control py-4", @type = "text", @placeholder = "Giới tính" })
                                                    @Html.ValidationMessageFor(model => model.GT, "", new { @class = "badge badge-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.NGAY_SINH, null, new { @class = "small mb-1" })
                                            @Html.TextBoxFor(model => model.NGAY_SINH, null, new { @class = "form-control py-4",@type = "text" })
                                            @Html.ValidationMessageFor(model => model.NGAY_SINH, "", new { @class = "badge badge-danger" })
                                        </div>

                                        <div class=" form-row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.SDT, null, new { @class = "small mb-1" })
                                                    @Html.TextBoxFor(model => model.SDT, null, new { @class = "form-control py-4", @type = "text", @placeholder = "Số điện thoại" })
                                                    @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "badge badge-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.LUONG, null, new { @class = "small mb-1" })
                                                    @Html.TextBoxFor(model => model.LUONG, null, new { @class = "form-control py-4", @type = "text", @placeholder = "Lương" })
                                                    @Html.ValidationMessageFor(model => model.LUONG, "", new { @class = "badge badge-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer text-right">
                                            <div class="small">
                                                <input type="submit" value="Save" class="btn btn-primary" />
                                                @Html.ActionLink("Hủy", "Index", null, new { @class = "btn btn-danger" })
                                            </div>
                                        </div>
                                        
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</body>



<div>
    @Html.ActionLink("Back to List", "Index")
</div>
